<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wind_speed" data-view="Speed" data-prefix=" km/h"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="wind_direction" data-view="Direction"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="rain_qty" data-view="Rain" data-prefix=" mm"></div>
    </li>
  </ul>
</div>